@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Apply Audiowide to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

#skills {
  scroll-margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}

.footer-background {
  position: relative;
}

.footer-background::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px; /* Set a fixed height to see if it appears */
  background-image: url('/moon-before.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  bottom: 100%;
  z-index: 1;
}

.footer-background::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px; /* Set a fixed height to see if it appears */
  background-image: url('/moon-after.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  z-index: 0;
}

.footer-menu-btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 133%;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 20px #fff;
  -webkit-transition: text-shadow 0.15s linear;
  -moz-transition: text-shadow 0.15s linear;
  -ms-transition: text-shadow 0.15s linear;
  -o-transition: text-shadow 0.15s linear;
  transition: text-shadow 0.15s linear;
  position: relative;
  z-index: 9999;
  pointer-events: auto;
}

.footer-menu-btn:link,
.footer-menu-btn:hover,
.footer-menu-btn:visited {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.footer-menu-btn:hover {
  text-shadow: 0 0 10px #00deff, 0 0 20px #00deff, 0 0 30px #00deff, 0 0 40px #00deff;
}